/* 폰트적용 */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nanum+Gothic:wght@700&family=Open+Sans&family=Roboto&display=swap');

html {
  font-family: 'Inter', sans-serif ,'Nanum Gothic', sans-serif ,'Open Sans', sans-serif ,'Roboto', sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

label[for] {
  cursor:pointer;
  user-select:none;
}

/* 라이브러리 */
.block {
  display:block;
}

.inline-block {
  display:inline-block;
}

.absolute-left {
  position:absolute;
  left:0;
}

.absolute-right {
  position:absolute;
  right:0;
}

.absolute-bottom {
  position:absolute;
  bottom:0;
}

.absolute-top {
  position:absolute;
  top:0;
}

.absolute-center {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
}

.absolute-middle {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.absolute-middle.absolute-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.relative {
  position:relative;
}

.fixed {
  position:fixed;
}

.cell {
  float:left;
  box-sizing:border-box;
}

.cell-right {
  float:right;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display:block;
  clear:both;
}

.clear-both {
  clear:both;
}

.img-box > img {
  width:100%;
  display:block;
}

.con {
  margin-left:auto;
  margin-right:auto;
}

.margin-0-auto {
  margin-left:auto;
  margin-right:auto;
}

.text-align-center {
  text-align:center;
}

.text-align-right {
  text-align:right;
}

.line-height-0 {
  line-height:0;
}

.line-height-0 > * {
  line-height:normal;
}

.width-30px {
  width:30px;
}

.width-35px {
  width:35px;
}

.width-40px {
  width:35px;
}

.width-45px {
  width:35px;
}

.width-50px {
  width:50px;
}

.width-80px {
  width:80px;
}

.width-100px {
  width:100px;
}

.width-100p {
  width:100%;
}

.width-60p {
  width:60%;
}

.width-55p {
  width:55%;
}

.width-50p {
  width:50%;
}

.width-45p {
  width:45%;
}

.width-40p {
  width:40%;
}

.width-30p {
  width:30%;
}

.width-35p {
  width:35%;
}

.width-100p-except-30px {
  width:calc(100% - 30px);
}

.width-100p-except-35px {
  width:calc(100% - 35px);
}

.width-100p-except-40px {
  width:calc(100% - 40px);
}

.width-100p-except-50px {
  width:calc(100% - 50px);
}

.width-100p-except-80px {
  width:calc(100% - 80px);
}

.width-100p-except-100px {
  width:calc(100% - 100px);
}

.border-box {
  box-sizing:border-box;
}

.font-size-dot-8rem {
  font-size:.8rem;
}

.table-row {
  display:table;
}

.table-row.row::after {
  display:inline;
  clear:non;
}

.table-row > .cell {
  float:none;
  display:table-cell;
}

.flex {
  display:flex;
}

.flex > .cell {
  float:none;
}
.ch-flex-1-0-auto > * {
  flex:1 0 auto;
}
.justify-content-fe {
  justify-content: flex-end;
}
.justify-content-fs {
  justify-content: flex-start;
}
.justify-content-sa {
  justify-content: space-around;
}
.justify-content-sb {
  justify-content: space-between;
}
.align-self-center {
  align-self:center;
}
.flex-wrap-no {
  flex-wrap:nowrap;
}
.flex-wrap-wrap {
  flex-wrap:wrap;
}
.flex-warp-warpre {
  flex-wrap:wrap-reverse;
}
.align-items-center {
    align-items: center;
}
* > .flex-1-0-0 {
    flex:1 0 0;
  }
* > .flex-ai-c {
    display:flex;
    align-items:center;
  }
* > .flex-jc-c {
  display:flex;
  justify-content:center;
}


/* 커스텀 */
.con-min-width {
  min-width:1356px;
}

.con {
  max-width:1190px;
}
/* top-bar 커스텀 */
.top-bar {
    background: #000;
    color: #e4e7eb;
    z-index: 5;
}


/* logo 커스텀 */
.logo {
    width: 100px;
    margin: 19px 0 16px 28px;
}
.logo > a {

}

/* menu-box-1 커스텀 */

.menu-box-1 > ul {
    margin-left: 42px;
}
.menu-box-1 > ul > li {
    margin-right: 22px;
   float: left;
}
.menu-box-1 > ul > li > a {
    position: relative;
}
.menu-box-1 > ul > li > a > span::after {
    content: "";
    position: absolute;
    bottom:0px;
    left:0;
    width: 100%;
    height: 0px;
    background-color: #3362fe;
    transition: height .3s;
}
.menu-box-1 > ul > li:nth-child(3) > a > span::after {
    bottom:-1px;
}
.menu-box-1 > ul > li > a.hover > span::after {
    height: 4px;
}
.menu-box-1 > ul > li > a {
    padding: 18px 0 26px 0;
    font-size: 15px;
}
.menu-box-1 > ul > li .arrow-icon {
    transform: rotate(180deg) translateY(-25%) translateX(10%);
    fill:#aaa;
}
.menu-box-1 > ul > li:hover .arrow-icon {
    fill: #fff;
}
/* hover-menu 커스텀 */
.hover-menu {
  position: absolute;
  top:100%;
  left:0;
  right:0;
  height: 0;
  transition: height .5s;
  overflow: hidden;
  background: #fff;
}
/* hover-menu-box-1 커스텀 */
.menu-box-1 > ul > li:hover .hover-menu-1 {
  height: 700px;
}
.hover-menu-box-1 > ul {
  width: calc(100%/4);
  padding:0 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 170px;
  text-align: left;
  position: relative;

}
.hover-menu-box-1 > ul:not(:nth-child(4n + 1)) {
  border-left:1px solid #ddd;
}
.hover-menu-box-1 ul > li {
  position: relative;
}
.hover-menu-box-1 ul > li:first-child > a {
  color: #5d58f5;
  font-size: 13px;
}
.hover-menu-box-1 ul > li:first-child > a::after {
  content:">";
  font-size: 8px;
}
.hover-menu-box-1 ul > .sub-menu-item {
  margin-top: 7px;
}
.hover-menu-box-1 > ul > li:nth-child(2) {
  margin-top: 15px;
}
.hover-menu-box-1 ul > .sub-menu-item > a::before {
  content:"≫";
  color: #61656a;
  font-size: 8px;
  left:0;
}
.hover-menu-box-1 ul > li:last-child {
  position: absolute;
  bottom:0;
  color: #5d58f5;
  font-size: 11px;
  transition: color .3s;
}
.hover-menu-box-1 ul > li:last-child:hover {
  color: #3c4c74;
}
.hover-menu-box-1 > ul > li > a > span {
  transition: color .3s;
  font-size: 11px;
  color: #61656a;
}
.hover-menu-box-1 > ul > li:hover > a > span{
  color:#5d58f5;
}
.all-menu-btn {
  margin-top: 40px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
}
.all-menu-btn > ul {
  width: 35%;
  margin-left: auto;
  margin-right: auto;

}
.all-menu-btn > ul > li {
  width: 50%;
}
.all-menu-btn > ul > li > a {
  padding:11px 25px 14px 25px;
  background: #5d58f5;
  transition: background .3s;
}
.all-menu-btn > ul > li:hover > a {
  background: #3e59f2;
}
.all-menu-btn > ul > li > a > span {
  background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/grid1.png);
  width: 13px;
  height: 13px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  transform: translateY(10%);
  margin-right: 10px;
}
/* news-item-banner 커스텀 */
.news-item-banner {
  margin-top:42px;
  background-color: #f1f5f9;
  padding: 25px 0 35px 0;
}
.news-item-banner > ul > li {
  width: 50%;
  color: #000;
  position: relative;
}

.news-item-banner > ul > li > a > span, .news-item-banner > ul > li > a > .text-box {
  display: inline-block;
}
.news-item-banner > ul > li > a > .text-box {
  text-align: left;
  width: 60%;
}
.news-item-banner > ul > li > a > .text-box > .title {
  font-size: 13px;
  margin-bottom: 10px;
  color: #3c4c74;
}
.news-item-banner > ul > li > a > .text-box > .sub-title {
  font-size: 11px;
}
.news-item-banner > ul > li > a > .img {
  width: 38%;
}
.date-first-news > a > .img {
  background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/56468df4f87fc38d6bf3c1f88e975d22.webp);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  display: block;
}
.date-first-item > a > .img {
  background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/76cf240f69c388ba6b52d5f62ae20078.webp);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  display: block;
}
/* hover-menu-2 커스텀 */

.menu-box-1 > ul > li:hover .hover-menu-2 {
  height: 300px;
  background: #fff;
}
.hover-menu-box-2 > ul > .playstation-store {
  width: 75%;
  height: 100%;
  color: #000;
  font-size: 13px;
  padding:43px 0 50px 0;
}
.hover-menu-box-2 > ul > .playstation-store > a {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom:1px solid #ddd;
}
.hover-menu-box-2 > ul > .playstation-store > a > .hover-box {
  width: 190px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  transition: background .5s;
}
.hover-menu-box-2 > ul > .playstation-store > a:hover > .hover-box {
  background: #f1f5f9;
}
.hover-menu-box-2 > ul > .playstation-store > a > .hover-box  > .title {
  margin-top: 5px;
  padding-bottom: 40px;
  transform: translateY(75%);
}
.hover-menu-box-2 > ul > .playstation-store > a > .hover-box > .img {
  background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/c8d568c456f06d3fa734b3331f100352.webp);
  background-position: center 50%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 90px;
  transform: translateY(50%);
}

.hover-menu-box-2 > ul > .playstation-site  {
  width: 25%;
  background-color: #f1f5f9;
  padding:45px 0 105px 0;
}
.hover-menu-box-2 > ul > .playstation-site > a {
  margin-left: -25px;
}
.hover-menu-box-2 > ul > .playstation-site > a > .title {
  font-size: 15px;
  color: #000;
  display: inline-block;
}
.hover-menu-box-2 > ul > .playstation-site > a > .title-1 {
  font-size:12px;
  color:#5d58f5;
  margin-top: 10px;
}

.hover-menu-box-2 > ul > .playstation-site > a > .img {
  background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/674f4abdf8710f1ed7273b0e6792a12d.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 105px;
}
/* menu-box-2 커스텀 */

.menu-box-2 {
    font-size: 11px;
}
.book-mark {
    padding: 7px 8px 14px 8px;
    margin: 14px 1px 14px 0;
    border-radius: 2px;
    transition: background .2s .3s;
    cursor: pointer;
}
.book-mark:hover {
    background-color: #2f353d;
}
.book-mark > a {
    background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/Asset.png?dummy123);
    background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    width:15px;
    height: 15px;
}
.site-in-serch {
    background: #504d56;  
    margin: 14px 1px 14px 1px;
    border-radius: 2px;
    transition: background .4s;
}
.site-in-serch:hover {
    background: #5d58f5;
}
.site-in-serch > a {
    padding: 7px 14px 10px 16px;
}
.famliy-site {
    background: #2f353d;
    margin: 14px 0 14px 1px; 
    border-radius: 2px;
    transition: background .4s;  
}
.famliy-site:hover {
    background: #504d56; 
}
.famliy-site > a {
    padding: 7px 9px 10px 16px;
}
.serch-icon {
    transform:translateY(30%);
    fill: #e4e7eb;
}
.arrow-icon {
    transform: translateY(23%);
    fill:#999;
}

/* main-banner 커스텀 */
.main-banner > .img {
  background: url(http://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/00f61a383c71833b68b945dfebd88b7b.webp);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 640px;
  opacity: 0;
  transition: opacity .5s;
}
.main-banner > .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  right: 0;
  letter-spacing: -.5px;
}
.main-banner > .text-box > div {
  width: 90%;
  color: #fff;
  top:50%;
  transform: translateY(-50%);
  position: relative;

}
.main-banner > .text-box > div > .item-name {
  font-size: 15px;
}
.main-banner > .text-box > div > .item-name > span {
  font-size: 14px;
  font-weight: 600;
}
.main-banner > .text-box > div > .item-title {
  font-size: 38px;
  line-height: 1;
  margin-bottom: 35px;
}
.main-banner > .text-box > div > .item-link {
  font-size: 13px;
  background: #5865f5;
  display: inline-block;
  transition: background .4s;
}
.main-banner > .text-box > div > .item-link:hover {
  background: #3e59f2;
}
.main-banner > .text-box > div > .item-link > a {
  padding: 9px 24px 15px 24px;
}


.slider-section, .whats-new-section {
  padding-top: 20px;
}
.page-title {
  font-size: 21px;
  font-weight: 900;
}




/* width 1280px 반응형 커스텀 */
.width1280-icon {
    display: none;
}
.width1280-icon > a > .serch-icon {
    padding: 10px;
    background: #504d56; 
    margin-top: 3px;
    margin-right: 30px;
}
/* bottom-site-map 커스텀 */
.bottom-site-map {
  background-color: #1f2024;
}
.bottom-site-map .tr-last {
  height: 1px;
  width: 100%;
  background-color: #3c3c42;
}
.tr-last-mobile {
  height: 1px;
  background-color: #3c3c42;
  display: none;
  margin:30px 0;
}
/* bottom-site-menu-box-1 커스텀*/
.bottom-site-menu-box-1 > ul {
  width: calc(100%/4);
}
.bottom-site-menu-box-1 > ul > .title {
  color: #878792;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.bottom-site-menu-box-1 > ul > li > a {
  color: #fff;
  font-size: 13px;
  margin: 10px 0;
  transition: color .4s;
}
.bottom-site-menu-box-1 > ul > li:hover > a {
  color: #878792;
}
/* bottom-site-menu-box-2 커스텀*/
.bottom-site-menu-box-2 {
  padding: 60px 0 30px 0;
}
.bottom-site-menu-box-2 > .rocation {
  color: #fff;
  font-size: 12px;
}
.bottom-site-menu-box-2 > .rocation > li > a {
  background: #3c3c42;
  padding:10px 115px 10px 10px;
  transition: background .3s;
}
.bottom-site-menu-box-2 > .rocation > li:hover > a {
  background: #504d56;
}
.bottom-site-menu-box-2 > .rocation > li > a > span {
  background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/flags.v5.png);
  background-position: -100px -14px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 10px;
  width: 20px;
  height: 14px;
}
.bottom-site-menu-box-2 > .sns-icon {
  position: relative;
}

.bottom-site-menu-box-2 > .sns-icon > .mobile-res > li > a {
  color:#fff;
  font-size: 13px;
  transition: color .3s;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child  > li > a {
  font-size: 20px;
  background: #3c3c42;
  transition: background .3s;
  margin: 0 1px;
}
/* youtube 커스텀 */
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .youtube > a {
  padding:5px 7px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .youtube > .sns-flow-box > div > a > span:first-child {
  background: no-repeat url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/www-hitchhiker-vflZyP8dK.webp) -48px -775px;
  transform: translateY(15%);
    background-size: auto;
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 6px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .youtube > .sns-flow-box > div:nth-child(2) > a {
  background: #ef3c39;
  padding: 4px 6px;
  font-size:12px;
  color: #fff;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .youtube > .sns-flow-box > div:nth-child(2):hover > a {
  background: #e62117;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .youtube > .sns-flow-box > div:nth-child(2) {
  padding: 25px 0 20px 0;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .youtube > .sns-flow-box > div:nth-child(2) > .count {
  font-size:10px;
  padding: 5px 7px 4px 6px;
  border-top:1px solid #aaa;
  border-bottom:1px solid #aaa;
  border-right:1px solid #aaa;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .youtube:hover > a {
  background: #ef3c39;
}
/* facebook 커스텀 */
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .facebook > a {
  padding:5px 13px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .facebook:hover > a {
  background: #3b5b99;
}

.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .facebook > .sns-flow-box > div > a > span:first-child {
  background: no-repeat url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/www-hitchhiker-vflZyP8dK.webp) -35px -923px;
  transform: translateY(15%);
    background-size: auto;
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-right: 6px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .facebook > .sns-flow-box > div:nth-child(2) > a {
  background: #1877f2;
  border-radius: 5px;
  padding: 4px 12px;
  font-size:10px;
  color: #fff;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .facebook > .sns-flow-box > div:nth-child(2) {
  padding: 25px 0 20px 0;
}

/* instagram 커스텀 */
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .instagram > a {
  
  padding:5px 9px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .instagram > .sns-flow-box > .sub-title {
  background: #507da2;
  color:#fff;
  display: inline-block;
  padding: 7px 42px 7px 42px;
  margin-top: 20px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res  > .instagram > .sns-flow-box > .sub-title  > a {
  color:#fff;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res > .instagram:hover > a {
  background: #507da2;
}
/* sns-icon 개별 커스텀 끝 */
.bottom-site-menu-box-2 > .sns-icon > .mobile-res > li > a  {
  margin: 0 10px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:first-child > li > a {
  transform: translateY(50%);
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child  > li:first-child > a {
  margin-left: 20px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:first-child > li:hover > a {
  color: #878792;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child  > li > .sns-flow-box {
  position: absolute;
  background: #fff;
  bottom:60px;
  width: 75%;
  transform: translateX(-45%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child > li > .sns-flow-box::after {
  content:"";
  position: absolute;
  left:50%;
  bottom:-6%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height:20px;
  background-color: #fff;
  
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child  > li > .sns-flow-box.active {
  opacity: 1;
  visibility: visible;
  
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child > li > .sns-flow-box > div {
  margin-left: 20px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child > li > .sns-flow-box > .title {
  font-size:16.25px;
  margin-top: 20px;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child > li > .sns-flow-box > .sub-title {
  font-size:12.25px;
  font-weight: 300;
  margin-bottom: 20px;
  color: #7494ef;

}
/* .sns-flow-box > .close-btn 커스텀 */
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child > li > .sns-flow-box > .close-btn {
  position:absolute;
  top:0;
  right:0;
  width:20px;
  height:20px;
  background-color: #3c3c42;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child > li > .sns-flow-box > .close-btn > div {
  position: absolute;
  width: 70%;
  height:2px;
  top:calc(50% - 2px);
  left:15%;
  background-color: #fff;
  transform: rotate(45deg);
  cursor: pointer;
}
.bottom-site-menu-box-2 > .sns-icon > .mobile-res:last-child > li > .sns-flow-box > .close-btn > div:last-child {
  transform: rotate(-45deg);
}
/* .sns-flow-box > .close-btn 커스텀 끝 */
/* bottom-site-menu-box-3 커스텀*/
.bottom-site-menu-box-3 {
  color:#878792;
  font-size: 10px;
}
.bottom-site-menu-box-3 > .copyright {
  margin-top: 35px;
}
.bottom-site-menu-box-3 > ul {
  margin: 8px 0 15px 0;
}
.bottom-site-menu-box-3 > ul > li {
  margin-right: 8px;
}
.bottom-site-menu-box-3 > ul > li > a, .bottom-site-menu-box-3 > .text-box span > a {
  color: #fff;
  transition: color .3s;
}
.bottom-site-menu-box-3 > ul > li:nth-child(2) > a {
  color: #dc3a1a;
}
.bottom-site-menu-box-3 > ul > li:hover > a {
  color:#878792;
}
.bottom-site-menu-box-3 > .text-box > div {
  line-height: 1.6;
}
.bottom-site-menu-box-3 > .text-box span:hover > a {
  color: #878792;
}
.bottom-site-menu-box-3 .contact {
  padding-bottom: 60px;
}

/* top-move-btn 커스텀 */
.top-move-btn {
  color: #fff;
  top:90%;
  right:11%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s;
}
.top-move-btn.active {
  opacity: 1;
}
.top-move-btn > div {
  border-radius: 5px;
  padding: 3px 13px 6px 13px;
  background-color: #21253066;
}
.top-move-btn:hover > div {
  background-color: #212530cc;
}
/* mobile-top-bar 커스텀 */
.mobile-menu-bg ,.mobile-menu-box-1,.mobile-top-bar {
  display: none;
}
.mobile-menu-bg {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  z-index: 6;
  visibility: hidden;
}
.mobile-menu-bg.active {
  visibility: visible;
  display: block;
  background-color: rgba(0,0,0,.5);
}
.mobile-top-bar {
  width: 100%;
  top:0;
  background: #000;
  color: #e4e7eb;
  z-index: 5;
  height: 60px;
  display: none;
}
.mobile-top-bar > .logo {
  margin-left: 50%;
  transform: translateX(-100%);
}
/* mobile-menu-box-1 , mobile-menu-box-1 1차 메뉴아이템 커스텀 */
.mobile-menu-box-1 {
  position: absolute;
  width: 70%;
  left:-70%;
  z-index: 5;
  transition: left .4s;
}
.mobile-menu-box-1 > ul {
  height: 60px;
  width: 100%;
}
.mobile-menu-box-1 > ul > li {
  background: #000;
  color: #fff;
  width: 100%;
}
.mobile-menu-box-1 > ul > li > a > span {
  display: block;
}
.mobile-menu-box-1 > ul > li > a {
  padding: 25px;
  position: relative;
}
.mobile-menu-box-1 > ul > li > a > .text {
  position: relative;
}
.mobile-menu-box-1 > ul > li > a > .text .arrow-icon {
  position: absolute;
  transform: rotate(180deg) translateY(-50%);
  right:0;
}
.mobile-menu-box-1 > ul > li.active > a > .text .arrow-icon {
  transform: rotate(0);
}
.mobile-menu-box-1 > ul > li > a::after {
  position: absolute;
  bottom:0;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #252525;
}

.mobile-menu-box-1 > ul > .serch-box {
  height: 60px;
  width: 100%;
  background-color: #e4e7eb;
}
.mobile-menu-box-1 > ul > .serch-box  > input {
  border:1px solid #e4e7eb;
  height: 38px;
  width: 95%;
  margin-top: 9px;
  margin-left: 2%;
}
.mobile-menu-box-1 > ul > .serch-box > input.active {
  width: 80%;
  margin-right: 2%;
}
/* mobile-menu-box-1 > ul ul , mobile-menu-box-1 2차 메뉴아이템 커스텀 */
.mobile-menu-box-1 > ul ul {
  background-color: #fff;
  color:#5d58f5;
  font-size: 13px;
  height: 0;
  overflow: hidden;
  transition:  height .3s;
}
.mobile-menu-box-1 > ul > li:nth-child(3).active > ul {
  height: calc(452px - 71px);
}
.mobile-menu-box-1 > ul > li:nth-child(5).active > ul {
  height: calc(132px - 71px);
}
.mobile-menu-box-1 > ul ul > li:first-child {
  margin-top: 15px;
}
.mobile-menu-box-1 > ul ul > li:nth-child(5) {
  margin-bottom: 15px;
} 
.mobile-menu-box-1 > ul ul > li:not(:nth-child(1n + 6)) > a {
  padding:15px 15px;
}
.mobile-menu-box-1 > ul ul > li:nth-child(6) {
  padding: 15px 15px;
}
.mobile-menu-box-1 > ul ul > li:nth-child(7) {
  padding:20px 15px;
  background: #f1f5f9;
  border-top: 1px solid #eee;
}
.mobile-menu-box-1 > ul ul > li:nth-child(6) .icon-grid {
  background-image: url(https://kkt9102.github.io/img1/blog/article/portfolio/sonykorea/grid1.png);
  width: 15px;
  height: 15px;
  transform: translateY(15%);
  margin-right: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
/* mobile-menu-btn 커스텀 */
.mobile-menu-btn {
  position: relative;
  border-right: 1px solid #2f353d;
  width: 60px;
  height:60px;
  left:0;
  z-index: 7;
}
.mobile-menu-btn > div {
  position: absolute;
  width: calc(100%/3);
  height: 3.9px;
  background-color: #fff;
  left:33.3333%;
}
.mobile-menu-btn > div:first-child {
  top:34%;
}
.mobile-menu-btn > div:nth-child(2) {
  top:46%
}
.mobile-menu-btn > div:last-child {
  top:58%;
}
.part-1 {
  left:0;
  transition: left .4s;
}

.mobile-menu-box-1.active {
  left:0;
}
html.active {
  overflow: hidden;
}
.part-1.active {
  left:70%;
}

html body .part-1 .latest-news-section,.mobile-news-list {
  overflow-X: hidden;
}




/* mobile-bottom-site-menu-box-1 커스텀 */
.mobile-bottom-site-menu-box-1 {
  display: none;
  color: #fff;
}
.mobile-bottom-site-menu-box-1 > ul {
  position: relative;
}
.mobile-bottom-site-menu-box-1 > ul::after {
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height: 1px;
  background-color: #3c3c42;
}
.mobile-bottom-site-menu-box-1 > ul >.title {
  position: relative;
}
.mobile-bottom-site-menu-box-1 > ul >.title > .text .arrow-icon {
  position: absolute;
  right:0;
  transform: rotate(180deg);
  transition: transform .3s;
  fill:#fff;
}
.mobile-bottom-site-menu-box-1 > ul.active >.title > .text .arrow-icon {
  transform: rotate(360deg);
}
.mobile-bottom-site-menu-box-1 > ul > div {
  color: #878792;
  padding: 15px 0;
}
.mobile-bottom-site-menu-box-1 > ul > li {
  display: none;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s,visibility .5s,height .5s;
}
.mobile-bottom-site-menu-box-1 > ul.active >li {
  display: block;
  height: 100%;
  visibility: visible;
  opacity: 1;
}
.mobile-bottom-site-menu-box-1 > ul > li > a {
  font-size: 13px;
  padding:10px 0 10px 20px;
}